*
venv/

!.gitignore

!.github/workflows/
!.github/workflows/scripts/

!minearchy_bot/
!minearchy_bot/cogs/
!minearchy_bot/minecraft_server/
!minearchy_bot/utils/

!*.py
!*.example.json
!*.sh
!*.md
!*.yml
!*.toml
!*.lock
